.CrediCardStyle {
  margin-left: 5px;
}

.test {
  display: inline-block;
}

.card_user_info {
  text-align: left;
}

.card_flag {
  font-size: .65rem;
  margin-left: 70%;
}

.card_number {
  font-size: 1.65rem;
  margin: 30px 0px;
}

.bottom_info {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.expiration, .bank {
  font-size: 0.7rem;
  font-weight: 600;
  margin-right: 20px;
}

.owner {
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 20px;
  margin-top: -10px;
  padding-bottom: 15px;
}

.logo {
  height: 25px;
}

.card_flag img {
  margin-top: 20px;
  width: 40px;
}
